

.mail-app .mail-list li {
    background-color: #1f283369; 
    padding: 6px;
    margin: 2px;
    display: flex;
}

.mail-app .mail-list li.unread-mail {
    /* border: 1px solid #66fcf1; */
    background-color: #2b343f ; 
}
.mail-body-prev{
font-family:Lato-Regular;
}
.mail-content{
    width:70%; 
}
.mail-preview .remove-mail{
    background-color: transparent;

}
.mail-details {
    color: #c5c6c7; 
    flex-direction: column;
}
/* .mail-input{
    padding: 0.5rem 0.5rem; 
} */
.compose-input{
    min-height: 120px;
    padding: 8px;
    color: #66fcf1; 
}

input[type="text"], textarea, .compose-input {
    background-color: #2c3a47;
    outline-color: #66fcf1;
    border: 1px solid #2c3a47; 
    color: #66fcf1;
}

.mail-details {
    margin: 5px;
}