

.mail-app .mail-list li {
    background-color: #1f2833; 
    padding: 20px;
    margin: 5px;
    display: flex;
}

.mail-app .mail-list li.unread-mail {
    border: 3px solid #66fcf1;
    background-color: #1f2833; 
    /* color: white !important; */
}