/** Todos **/

.todo-list {
    background-color: #2c3a47;
}

.todo-item {
    margin: 1rem;
}

/** Text **/

.note-list {
    margin-top: 20px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    grid-auto-flow: dense;
}

.note-list .note-card {
    border-radius: 0.5rem !important;
}

.img-card img {
    width: 100%;
}

.note-edit {
    flex-direction: column;
    margin: 0 auto;
}

/** icons **/

.note-edit .far {
    color: #66fcf1;
    font-size: 1.6rem;
}

.note-edit .fas {
    color: #66fcf1;
    font-size: 1.6rem;
}

.btn-container .pin {
    color: #66fcf1
}

.btn-container .unpin {
    color: #23504d;
}



/** color inputs ADD **/
.btn-container-add {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.note-add .far {
    color: #66fcf1;
    font-size: 1.6rem;
}

.note-add .fas {
    color: #66fcf1;
    font-size: 1.6rem;
}
.note-add {
    flex-direction: column;
    margin: 0 auto;
    align-items: stretch;
}

.note-add .pin {
    color: #66fcf1
}

.note-add .unpin {
    color: #191b1b;
}
/** color inputs EDIT **/

.edit-input {
    font-family: Lato-Regular;
    font-size: 1.5em;
    color: #032e2c;
    width: 350px;
    background-color: #2c3a47;
    outline-color: #66fcf1;
    border: 1px solid #2c3a47;
    margin-bottom:40px;
    /* padding:10px;  */
}
.add-input{
    font-family: Lato-Regular;
    font-size: 1.5em;
    color: #032e2c;
    width: 350px;
    background-color: #2c3a47;
    outline-color: #66fcf1;
    border: 1px solid #2c3a47;
    

}

.btn-container {
    display: flex;
    align-content: space-between;
    margin-top: 50px;
}

/** color inputs **/ 

.color-pallette {
    display: flex;
}

.input-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.align-text{
   
    text-align:left; 
    margin-left:10px; 
    margin-right:10px;

}
.clean-note-list {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.save-btn {
    /* height:40px;  */
    width: 60px;
    border: 2px solid #45a29e;
    padding: 0.4rem;
    margin: 0;
    border-radius: 0.4rem;
    font-family: Lato-regular;
    line-height: 1rem;
    font-size: 1.2rem;
    align-self: center;
}
.pin-btn{
    font-size: 1.4rem; 
    padding-top:5px; 
}
.btn-close{
    font-size:1.4rem; 
    font-family:Lato-regular;
    padding-top:5px; 
    color:#868686; 
}