/** todo: import other css files **/
    
@import "../../apps/keep/assets/css/keep.css"; /* Using a string */
@import "./modal.css"; 
@import '../../apps/mail/assets/css/mail.css';

* {
    box-sizing: border-box;
}

body {
    background-color: #0b0c10;
    font-family: Lato-Regular;
    margin:0; 
    padding:0; 
}

a {
    font-family: Lato-Bold;
    text-decoration: none;
    color: #ffffff;
}
.note-card a{
    color:inherit; 
}
p{
    margin:0; 
    padding:0; 
}

::placeholder{
    color:#66fcf1; 
   outline:none; 
}
button {
    font-family: Lato-Bold;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    border: none;
    background: transparent; 
    color:#66fcf1; 
}
h1, h2{
    color: #c5c6c7; 
    padding:0; 
    margin:0; 
}

.active-nav{
    background-color: #0b0c10;
    
}
.active-keep{
    background-color: #0b0c10;
    display:none; 
}
.active-mail{
    background-color: #0b0c10;
    display:none; 
}


/**** Fonts ****/

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Champagne-regular;
    src: url(../fonts/champagne/champagne.ttf);
}

@font-face {
    font-family: Eurofurencer-regular;
    src: url(../fonts/eurofurencer/eurof55.ttf);
}

/****** HELPERS ******/
.grid {
    display: grid;
}
/**** Flex Helpers ****/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.stretch {
    align-content: stretch;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

/**** List-helpers ****/

.clean-list {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/** Logos **/ 

.nav-item {
    color: #66fcf1; 
    padding:1rem; 
}
/* .keep .fas{
    color: #66fcf1; 
    padding:1rem; 
}

.mail .fas{
    color: #66fcf1; 
    padding:1rem; 
}
.logo .fas{
    color: #66fcf1; 
    padding:1rem; 
} */

.long-txt {
    cursor: pointer;
}

.home-page{
    background-image:url('../img/bgc.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    height:90vh; 
    display: grid;
    justify-items: center;
    align-items: center;
}

.home-navigation {
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: transparent;
}
.home-navigation .nav-item {
    font-size: 8rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

}

.home-page h1 {
    font-size: 3rem;
}